include ../mixins/mixin


.section2
  .watches
   h1.watch_title СЕЗОН 2020/21
   hr.watch_hr
   .watches3
     +mywatch
     +mywatch
     +mywatch
  .manDiv
    h1.manDiv_title Новая коллекция
    hr.manDiv_hr
    a.manDiv_href(href="#") Каталог