include ../mixins/mixin
 
.section4
 h1.section4_title новые поступления
 hr.section4_hr
 .section4_watches
  .section4_first4_watches
    +mywatch
    +mywatch
    +mywatch
    +mywatch
  .section4_second4_watches
    +mywatch
    +mywatch
    +mywatch
    +mywatch